body {
    background-image: url(/template/back.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  /* NavBar */
  
   .ced-logo img {
    height: 80px;
  }
.container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 615px);
  grid-gap: 1em 20px;  
}

.card-body {
  background-color:#42413e;
}
.card {
  height: 615px;
  margin-top: 10px;
}
.row {
  padding: 15px;
  margin: 0;
}
  .card-title  {
    color: red;
  }

  h1{
    font-family: 'Finger Paint', cursive;
  }
  p, h5 {
    font-family: 'Zilla Slab Highlight', cursive;
    color: wheat;
  }

  