body {
    background-image: url(template/back.jpg);
    background-position: center center;
    background-size: cover;
  }
  
  /* NavBar */
  
  .ced-logo img {
    height: 80px;
  }
  .ced-logo {
    background-color: #3b3b39;
  }
  

  .card-title  {
    color: red;
  }

  h1{
    font-family: 'Finger Paint', cursive;
  }
  p, h2, h3 {
    font-family: 'Zilla Slab Highlight', cursive;
  }

 