body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-weight: bold;
    background-image: url("records.jpg");
    background-position: center;
    background-size: cover;
  }
  .jps-nav{
    
  }
h1{
    font-family: 'Finger Paint', cursive;
  }
  p, h2, h3 {
    font-family: 'Zilla Slab Highlight', cursive;
  }
  h7{
      background-color: gray;
  }
  .jps-carousel h1 p {
    color: white;
  }
  .jps-carousel {
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
  @media (max-width: 768px) {
}